<div class="about-section">
    <div class="image-container">
        <img src="images/about.jpg" alt="About Us" class="about-image">
    </div>
    <div  id="about" class="text-container">
        <h2>About Me</h2>
        <p>
            As a skilled frontend developer with a passion for crafting exceptional user experiences, I specialize in leveraging JavaScript to bring designs to life. With a keen eye for detail and a deep understanding of responsive design principles, I create visually stunning and highly functional web interfaces. My expertise lies in crafting intuitive user journeys, optimizing performance, and ensuring cross-browser compatibility.
        </p>
        <p>
            In my role as a UI designer, I collaborate closely with developers and stakeholders to translate complex concepts into elegant and user-friendly designs. I am proficient in utilizing industry-standard design tools to create wireframes, mockups, and interactive prototypes. By focusing on usability, accessibility, and visual appeal, I strive to deliver exceptional user experiences that leave a lasting impression
        </p>

        <h3>SKILLS</h3>
        <div class="skills-container">
            <div class="skill">
                <span>REACT JS</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 90%;">70%</div>
                </div>
            </div>
            <div class="skill">
                <span>ANGULAR TS</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 85%;">65%</div>
                </div>
            </div>
            <div class="skill">
                <span>NODE JS</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 75%;">50%</div>
                </div>
            </div>
            <div class="skill">
                <span>CSS</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 80%;">62%</div>
                </div>
            </div>
            <div class="skill">
                <span>FIGMA</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 70%;">48%</div>
                </div>
            </div>
        </div>
    </div>
</div>
 