<div class="service-page" id="services">
    <h2>My Services</h2>
    <div class="card-container"> 
        <div class="card">
            <img src="images/service.png" alt="Service 1" class="card-image">
            <h4>Web Application Development</h4>
            <p>Creating dynamic and interactive web applications, Developing user-friendly interfaces with seamless navigation, Integrating APIs to connect with backend services</p>
        </div>
        <div class="card">
            <img src="images/responsee.jpg" alt="Service 2" class="card-image">
            <h4>Responsive Web Design</h4>
            <p>Ensuring websites look and function flawlessly across different devices (desktop, tablet, mobile), Adapting layouts and content to various screen sizes, Optimizing images and code for different resolutions</p>
        </div>
        <div class="card">
            <img src="images/uinterface.jpg" alt="Service 3" class="card-image">
            <h4>UI/UX Design</h4>
            <p>Creating visually appealing and user-centered designs, Conducting user research to understand user needs and preferences, Designing intuitive user interfaces with clear information hierarchy</p>
        </div>
    </div>
</div>
