
<app-navbar></app-navbar>
<div class="home-container" id="home">
    <div class="text-section">
        <h1 class="name">Quinuel Ndip-Agbor</h1>
        <h2 class="occupation">Frontend Developer | UI Designer</h2>
        <p class="description">
            Passionate about creating interactive and user-friendly web and mobile applications. 
            Experienced in Angular, React, and Node.js. Always eager to learn new technologies and improve my skills.
        </p>
        <br><br>
        <a  href="docs/resume.pdf" class="cv-button" download>Download and View Resume</a>
    </div>
    <div class="image-section">
        <img src="images/moi.jpg" alt="profile-image" class="profile-image">
    </div>
</div>
<app-about></app-about>
<app-services></app-services>
<app-proj-demos></app-proj-demos>
<app-footer></app-footer>