<nav class="navbar">
 
  <div class="navbar-menu">
      
          <a href="../../pages/home/home.component.html" href="#home" class="navbar-item" routerLinkActive="active">Home</a>
          <a   href="#about" class="navbar-item" routerLinkActive="active">About</a>
          <a href="#services" class="navbar-item" routerLinkActive="active">Services</a>
          <a routerLink="http://localhost:4200/projects" href="#projects" class="navbar-item" routerLinkActive="active">Projects</a>
      </div>
 
</nav>
