<div class="project-page" id="projects">
    <h2>Projects</h2>
    <div class="card-container"> 
        <div class="card">
            <h4>Portfolio Website</h4>
            <p>Professional Personal Blog</p>
            <a href="https://github.com/QUIN04">Link</a>
        </div>
        <div class="card">
            <h4>Disaster Management System</h4>
            <p>Response, Recovery and Mitigation</p>
            <a href="https://github.com/QUIN04">Link</a>
        </div>
        <div class="card">
            <h4>Employee Management System</h4>
            <p>Attendance, Payroll and Records</p>
            <a href="https://github.com/QUIN04">Link</a>
        </div>
        <div class="card">
            <h4>Book-Sales UI Wireframe</h4>
            <p>Book Sales and Advert</p>
            <a href="https://github.com/QUIN04">Link</a>
        </div>
    </div>
</div>
